<div class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-8">
			<h1 class="display-5 main"><%= t('static_pages.terms.terms')%></h1>
		</div>
		<div class="col"></div>
	</div>
</div>

<div class="container">	
	<p style="text-indent: 20px;"><em><%= t('static_pages.terms.par1') %>...</em></p>
	
	<p class="lead"><%= t('static_pages.terms.license') %></p>
</div>	