<footer class = "pt-4 my-md-4 pt-md-4 border-top">
  <div class="container">
    <div class="col-12 col-md-9 text-center">
      <small class="d-block mb-12 text-muted">© 2021</small>
      <%= link_to  '@TimLit13', 'https://github.com/TimLit13' %>
    </div>
  </div>
</footer>