<div class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-8">
			<h1 class="display-5 main"><%= t('admin.posts.new.title')%></h1>
		</div>
		<div class="col"></div>
	</div>
</div>


<%= render 'error_messages'%>
<%= render 'form_creating_post'%>