<div class="container">
	<div class="row">
		<% if @category && @category.errors.any? %>
			<div class="alert alert-danger">
				<h2><%= t('common.errors') %></h2>
				<ul>
					<% @category.errors.full_messages.each do |message|%>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>