<div class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-8">
			<% if @post && @post.errors.any? %>
				<div class="alert alert-danger">
					<h2><%= t('common.errors') %></h2>
					<ul>
						<% @post.errors.full_messages.each do |message|%>
							<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
		<div class="col"></div>
	</div>
</div>